.el-collapse-item__header {
    height: 43px;
    line-height: 43px;
    padding-left: 15px;
    background-color: #fff;
    color: #48576a;
    cursor: pointer;
    border-bottom: 1px solid #dfe6ec;
    font-size: 13px;
    text-align: left;
}
.logincss {
  margin: 0 auto;
  height: 450px;
  width:100%;
  /* background-image: url(./images/banner.png);
  background-repeat: no-repeat;
  background-position: center; */

}

body {

}
