
html,body {
  height: 100%;
  width: 100%;
   background:url(./images/bj_zhuce.jpg) no-repeat top center !important;
   background-size:cover;
}

@media screen and (max-width:633px) {
  .bj_right{ max-width:281px; height:188px; padding-left:37px; background:#f8f8f8;}
  .login-box{
    margin:5% 0 0 10%;
    opacity:0.9;
  }
  .xs_font_size{
    font-size: 1px
  }
  .head_logo{
    width:62%;
    height: auto
  }
  #home {

  margin: 0 13px;
  margin-bottom:40px;
  text-align: center;
}

}
@media screen and (min-width: 633px) and (max-width:991px ) {
  .login-box{
    margin:10% 0 0 30%;
    opacity:0.9;
  }
.bj_right{ max-width:173px; height:256px; padding-left:37px; background:#f8f8f8;}
  #home {
  margin: 0 30px;
  margin-bottom:40px;
  text-align: center;
}
}
@media screen and (min-width:991px) and (max-width: 1280px) {
  .bj_right{ max-width:173px; height:256px; padding-left:37px; background:#f8f8f8;}
  .login-box{
    margin:8% 0 0 30%;
    opacity:0.9;

  }
  #home {
  margin: 0 40px;
  margin-bottom:40px;
  text-align: center;
}

}
@media screen and (min-width: 1280px) {
  .bj_right{ max-width:173px; height:256px; padding-left:37px; background:#f8f8f8;}
  .login-box{
    margin:8% 0 0 30%;
    opacity:0.9;

  }

  #home {
    width: 1200px;
    margin: 0 auto;
    text-align: center;
    margin-bottom:40px;
  }

}
.topnav{
  width:90%;
  max-width:1275px;
  padding-right: 0
}
.logincss {
  margin: 0 auto;
  width:100%;
  height: 70%;

}
.home{
  width: 100%;
  height: auto;
  position: absolute;
  top:0;
  left: 0;
  background:#e8e9ea url(./images/bj_zhuce.jpg) repeat-x top center !important;
  padding-bottom: 48px;
}
.bj_bai{max-width:281px;  height:256px; background:#FFF;}
.tatleP{ font:16px/70px "微软雅黑", "黑体";padding-left:20px; color:#37b5f9;  text-align:left;}
.kuang_txt{ width:220px; height:32px; border:1px solid #dddddd; background:#faffbd; line-height:32px; padding-left:4px; color:#b1a9a9;   }
.btn_zhuce{ width:220px; height:33px;line-height:25px; background:#37b5f9;  color:#fff; border-radius:3px;}
.btn_zhuce:hover,.login_qita_kuang .zc .left .btn_zhuce:hover{ background:#0065d0;}
.bj_right P { width:135px; font:12px/60px ""; color:#999999;}
.bj_right span{cursor:pointer; float:left; width:120px; height:28px; padding-left:11px; line-height:28px; margin-bottom:12px; border-radius:3px; }
.zhuce_qq{ border:1px solid #37b5f9; color:#37b5f9; background:url(./images/zc_03.jpg) no-repeat  7px #fff;}
.zhuce_wx{ border:1px solid #00c800; color:#00c800; background:url(./images/zc_15.jpg) no-repeat  7px #fff;}
.names{background:url(./images/zc_06.jpg) no-repeat 10px 10px;}
.email{background:url(./images/zc_12.jpg) no-repeat 10px 10px;}
.possword{background:url(./images/zc_16.jpg) no-repeat 10px 10px;}
.phone{background:url(./images/xg.png) no-repeat 10px 10px;}
.yanzm{background:url(./images/zc_19.jpg) no-repeat 10px 10px; margin-bottom:0px;}
